In [71]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

#导入数据
data=pd.read_csv(r'C:\Users\Apple\Desktop\data_science\lesson_one\datasets\data.csv',encoding='gbk')

#查看数据基本信息
#print(data.info())
#print(data.shape)

In [2]:
#计算缺失率和唯一率：删除一些不必要的列
data_1=pd.DataFrame(data.isnull().sum(),columns=['loss_num'])
data_2=pd.DataFrame(data.nunique(),columns=['unique_num'])
data_loss_unique=pd.merge(data_1,data_2,right_index=True,left_index=True)
data_loss_unique['loss_rate']=round(data_loss_unique['loss_num']/data.shape[0],5)
data_loss_unique['unique_rate']=round(data_loss_unique['unique_num']/data.shape[0],5)

data_loss_unique.head().T

                num  custid  trade_no  bank_card_no  low_volume_percent
loss_num        0.0     0.0   0.00000       0.00000             2.00000
unique_num   4754.0  4754.0   1.00000       1.00000            40.00000
loss_rate       0.0     0.0   0.00000       0.00000             0.00042
unique_rate     1.0     1.0   0.00021       0.00021             0.00841

In [3]:
#查看缺失比较验证的列
data_loss_unique.sort_values(by='loss_rate',ascending=False)

,loss_num,unique_num,loss_rate,unique_rate
student_feature,2998,2,0.63063,0.00042
cross_consume_count_last_1_month,426,19,0.08961,0.00400
latest_six_month_apply,304,65,0.06395,0.01367
latest_one_month_apply,304,36,0.06395,0.00757
latest_query_time,304,207,0.06395,0.04354
query_sum_count,304,74,0.06395,0.01557
query_cash_count,304,17,0.06395,0.00358
query_finance_count,304,25,0.06395,0.00526
query_org_count,304,46,0.06395,0.00968
apply_credibility,304,41,0.06395,0.00862
apply_score,304,205,0.06395,0.04312
latest_query_day,304,210,0.06395,0.04417
latest_three_month_apply,304,56,0.06395,0.01178
loans_latest_time,297,232,0.06247,0.04880
loans_credit_limit,297,54,0.06247,0.01136
loans_credibility_limit,297,33,0.06247,0.00694
loans_org_count_current,297,32,0.06247,0.00673
loans_product_count,297,32,0.06247,0.00673
loans_latest_day,297,235,0.06247,0.04943
loans_long_time,297,202,0.06247,0.04249
loans_credibility_behavior,297,25,0.06247,0.00526
loans_count,297,134,0.06247,0.02819
loans_settle_count,297,123,0.06247,0.02587
loans_overdue_count,297,26,0.06247,0.00547
loans_org_count_behavior,297,41,0.06247,0.00862
consfin_org_count_behavior,297,19,0.06247,0.00400
loans_cash_count,297,32,0.06247,0.00673
latest_one_month_loan,297,14,0.06247,0.00294
latest_three_month_loan,297,31,0.06247,0.00652
latest_six_month_loan,297,67,0.06247,0.01409
...,...,...,...,...
reg_preference_for_trad,2,5,0.00042,0.00105
low_volume_percent,2,40,0.00042,0.00841
middle_volume_percent,2,90,0.00042,0.01893
trans_activity_month,2,84,0.00042,0.01767
trans_activity_day,2,512,0.00042,0.10770
regional_mobility,2,5,0.00042,0.00105
trans_days_interval,2,114,0.00042,0.02398
trans_day_last_12_month,2,132,0.00042,0.02777
number_of_trans_from_2011,2,70,0.00042,0.01472
first_transaction_time,2,1693,0.00042,0.35612
historical_trans_day,2,476,0.00042,0.10013
rank_trad_1_month,2,20,0.00042,0.00421
avg_consume_less_12_valid_month,2,12,0.00042,0.00252
first_transaction_day,2,1693,0.00042,0.35612
num,0,4754,0.00000,1.00000
custid,0,4754,0.00000,1.00000
status,0,2,0.00000,0.00042
pawns_auctions_trusts_consume_last_6_month,0,2730,0.00000,0.57425
pawns_auctions_trusts_consume_last_1_month,0,572,0.00000,0.12032
max_cumulative_consume_later_1_month,0,863,0.00000,0.18153
avg_price_last_12_month,0,330,0.00000,0.06942
abs,0,1697,0.00000,0.35696
trans_amount_3_month,0,3524,0.00000,0.74127
historical_trans_amount,0,4524,0.00000,0.95162
is_high_user,0,2,0.00000,0.00042
repayment_capability,0,2390,0.00000,0.50273
take_amount_in_later_12_month_highest,0,166,0.00000,0.03492
bank_card_no,0,1,0.00000,0.00021
trade_no,0,1,0.00000,0.00021
source,0,1,0.00000,0.00021

In [4]:
#查看唯一值情况 唯一率特别高或者特别低的都可以考虑删除
data_loss_unique.sort_values(by='unique_rate',ascending=False)

,loss_num,unique_num,loss_rate,unique_rate
num,0,4754,0.00000,1.00000
custid,0,4754,0.00000,1.00000
historical_trans_amount,0,4524,0.00000,0.95162
id_name,276,4309,0.05806,0.90639
trans_amount_3_month,0,3524,0.00000,0.74127
pawns_auctions_trusts_consume_last_6_month,0,2730,0.00000,0.57425
repayment_capability,0,2390,0.00000,0.50273
consume_mini_time_last_1_month,26,1971,0.00547,0.41460
abs,0,1697,0.00000,0.35696
first_transaction_time,2,1693,0.00042,0.35612
first_transaction_day,2,1693,0.00042,0.35612
consfin_avg_limit,297,1677,0.06247,0.35276
loans_avg_limit,297,961,0.06247,0.20215
max_cumulative_consume_later_1_month,0,863,0.00000,0.18153
trans_amount_increase_rate_lately,3,782,0.00063,0.16449
pawns_auctions_trusts_consume_last_1_month,0,572,0.00000,0.12032
trans_activity_day,2,512,0.00042,0.10770
historical_trans_day,2,476,0.00042,0.10013
avg_price_last_12_month,0,330,0.00000,0.06942
consfin_credit_limit,297,327,0.06247,0.06878
loans_score,297,247,0.06247,0.05196
loans_latest_day,297,235,0.06247,0.04943
loans_latest_time,297,232,0.06247,0.04880
latest_query_day,304,210,0.06395,0.04417
latest_query_time,304,207,0.06395,0.04354
apply_score,304,205,0.06395,0.04312
loans_long_time,297,202,0.06247,0.04249
consfin_max_limit,297,175,0.06247,0.03681
history_suc_fee,297,171,0.06247,0.03597
take_amount_in_later_12_month_highest,0,166,0.00000,0.03492
...,...,...,...,...
consume_top_time_last_1_month,8,28,0.00168,0.00589
trans_top_time_last_1_month,8,28,0.00168,0.00589
trans_fail_top_count_enum_last_12_month,16,26,0.00337,0.00547
loans_overdue_count,297,26,0.06247,0.00547
query_finance_count,304,25,0.06395,0.00526
loans_credibility_behavior,297,25,0.06247,0.00526
trans_fail_top_count_enum_last_6_month,16,25,0.00337,0.00526
consfin_credibility,297,24,0.06247,0.00505
consfin_product_count,297,20,0.06247,0.00421
rank_trad_1_month,2,20,0.00042,0.00421
avg_price_top_last_12_valid_month,104,20,0.02188,0.00421
consfin_org_count_behavior,297,19,0.06247,0.00400
latest_one_month_suc,297,19,0.06247,0.00400
consfin_org_count_current,297,19,0.06247,0.00400
cross_consume_count_last_1_month,426,19,0.08961,0.00400
query_cash_count,304,17,0.06395,0.00358
trans_fail_top_count_enum_last_1_month,16,15,0.00337,0.00316
latest_one_month_loan,297,14,0.06247,0.00294
avg_consume_less_12_valid_month,2,12,0.00042,0.00252
top_trans_count_last_1_month,2,8,0.00042,0.00168
jewelry_consume_count_last_6_month,12,7,0.00252,0.00147
railway_consume_count_last_12_month,12,6,0.00252,0.00126
regional_mobility,2,5,0.00042,0.00105
reg_preference_for_trad,2,5,0.00042,0.00105
student_feature,2998,2,0.63063,0.00042
status,0,2,0.00000,0.00042
is_high_user,0,2,0.00000,0.00042
bank_card_no,0,1,0.00000,0.00021
trade_no,0,1,0.00000,0.00021
source,0,1,0.00000,0.00021

In [72]:
#综合上面两张表，可以得出：student_feature缺失严重，删掉；num、custid、id_name唯一率较高，无意义，可删掉；
#bank_card_no、trade_no、source唯一率极低，且无意义，删掉
columns_drop=['student_feature','bank_card_no','source','trade_no','id_name','num','custid']
data.drop(columns=columns_drop,axis=1,inplace=True)

In [6]:
#查看数据大小
data.shape

(4754, 83)

In [73]:
#obj对象需要进一步处理reg_preference_for_trad 、latest_query_time、loans_latest_time
data.select_dtypes('object').columns

Index(['reg_preference_for_trad', 'latest_query_time', 'loans_latest_time'], dtype='object')

In [79]:
data['reg_preference_for_trad'].unique()

array(['一线城市', '三线城市', '境外', '二线城市', '其他城市', nan], dtype=object)

In [10]:
##处理reg_preference_for_trad，并将其转化为浮点数类型
#for i,j in enumerate(data['reg_preference_for_trad']):
#    if j=='一线城市':
#        data['reg_preference_for_trad'][i]=float(1)
#    elif j=='二线城市':
#        data['reg_preference_for_trad'][i]=float(2)
#    elif j=='三线城市':
#        data['reg_preference_for_trad'][i]=float(3)
#    elif j=='其他城市':
#        data['reg_preference_for_trad'][i]=float(4)
#    elif j=='境外':
#        data['reg_preference_for_trad'][i]=float(5)
#    else:
#        data['reg_preference_for_trad'][i]=float(0)

In [74]:
#处理latest_query_time、loans_latest_time，这两个日期与当前时间的差值是有意义的
data['latest_query_time'] = pd.to_datetime(data['latest_query_time'], format ='%Y-%m-%d')
data['loans_latest_time'] = pd.to_datetime(data['loans_latest_time'], format ='%Y-%m-%d')
today=pd.to_datetime('2019-5-13', format ='%Y-%m-%d')

data['loan_last_days']=abs(data['loans_latest_time']-today)
data['query_last_days']=abs(data['latest_query_time']-today)

for i,j in enumerate(data['loan_last_days']):
    data['loan_last_days'][i]=j.days

for i,j in enumerate(data['query_last_days']):
    data['query_last_days'][i]=j.days

data['loan_last_days']=data['loan_last_days'].astype('float')
data['query_last_days']=data['query_last_days'].astype('float')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [75]:
#处理完差值之后，删掉'latest_query_time','loans_latest_time'这两个无用变量
data.drop(['latest_query_time','loans_latest_time'],axis=1,inplace=True)

#之后查看数据情况
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4754 entries, 0 to 4753
Data columns (total 83 columns):
low_volume_percent                            4752 non-null float64
middle_volume_percent                         4752 non-null float64
take_amount_in_later_12_month_highest         4754 non-null int64
trans_amount_increase_rate_lately             4751 non-null float64
trans_activity_month                          4752 non-null float64
trans_activity_day                            4752 non-null float64
transd_mcc                                    4752 non-null float64
trans_days_interval_filter                    4746 non-null float64
trans_days_interval                           4752 non-null float64
regional_mobility                             4752 non-null float64
repayment_capability                          4754 non-null int64
is_high_user                                  4754 non-null int64
number_of_trans_from_2011                     4752 non-null float64
first_transaction_time                        4752 non-null float64
historical_trans_amount                       4754 non-null int64
historical_trans_day                          4752 non-null float64
rank_trad_1_month                             4752 non-null float64
trans_amount_3_month                          4754 non-null int64
avg_consume_less_12_valid_month               4752 non-null float64
abs                                           4754 non-null int64
top_trans_count_last_1_month                  4752 non-null float64
avg_price_last_12_month                       4754 non-null int64
avg_price_top_last_12_valid_month             4650 non-null float64
reg_preference_for_trad                       4752 non-null object
trans_top_time_last_1_month                   4746 non-null float64
trans_top_time_last_6_month                   4746 non-null float64
consume_top_time_last_1_month                 4746 non-null float64
consume_top_time_last_6_month                 4746 non-null float64
cross_consume_count_last_1_month              4328 non-null float64
trans_fail_top_count_enum_last_1_month        4738 non-null float64
trans_fail_top_count_enum_last_6_month        4738 non-null float64
trans_fail_top_count_enum_last_12_month       4738 non-null float64
consume_mini_time_last_1_month                4728 non-null float64
max_cumulative_consume_later_1_month          4754 non-null int64
max_consume_count_later_6_month               4746 non-null float64
railway_consume_count_last_12_month           4742 non-null float64
pawns_auctions_trusts_consume_last_1_month    4754 non-null int64
pawns_auctions_trusts_consume_last_6_month    4754 non-null int64
jewelry_consume_count_last_6_month            4742 non-null float64
status                                        4754 non-null int64
first_transaction_day                         4752 non-null float64
trans_day_last_12_month                       4752 non-null float64
apply_score                                   4450 non-null float64
apply_credibility                             4450 non-null float64
query_org_count                               4450 non-null float64
query_finance_count                           4450 non-null float64
query_cash_count                              4450 non-null float64
query_sum_count                               4450 non-null float64
latest_one_month_apply                        4450 non-null float64
latest_three_month_apply                      4450 non-null float64
latest_six_month_apply                        4450 non-null float64
loans_score                                   4457 non-null float64
loans_credibility_behavior                    4457 non-null float64
loans_count                                   4457 non-null float64
loans_settle_count                            4457 non-null float64
loans_overdue_count                           4457 non-null float64
loans_org_count_behavior                      4457 non-null float64
consfin_org_count_behavior                    4457 non-null float64
loans_cash_count                              4457 non-null float64
latest_one_month_loan                         4457 non-null float64
latest_three_month_loan                       4457 non-null float64
latest_six_month_loan                         4457 non-null float64
history_suc_fee                               4457 non-null float64
history_fail_fee                              4457 non-null float64
latest_one_month_suc                          4457 non-null float64
latest_one_month_fail                         4457 non-null float64
loans_long_time                               4457 non-null float64
loans_credit_limit                            4457 non-null float64
loans_credibility_limit                       4457 non-null float64
loans_org_count_current                       4457 non-null float64
loans_product_count                           4457 non-null float64
loans_max_limit                               4457 non-null float64
loans_avg_limit                               4457 non-null float64
consfin_credit_limit                          4457 non-null float64
consfin_credibility                           4457 non-null float64
consfin_org_count_current                     4457 non-null float64
consfin_product_count                         4457 non-null float64
consfin_max_limit                             4457 non-null float64
consfin_avg_limit                             4457 non-null float64
latest_query_day                              4450 non-null float64
loans_latest_day                              4457 non-null float64
loan_last_days                                4457 non-null float64
query_last_days                               4450 non-null float64
dtypes: float64(71), int64(11), object(1)
memory usage: 3.0+ MB

In [13]:
data.shape

(4754, 83)

In [53]:
#接下来步骤，填充缺失值

In [76]:
null=pd.DataFrame(data.isnull().sum(),columns=['num'])
null.astype('float')

                                          num
low_volume_percent                        2.0
middle_volume_percent                     2.0
take_amount_in_later_12_month_highest     0.0
trans_amount_increase_rate_lately         3.0
trans_activity_month                      2.0
trans_activity_day                        2.0
transd_mcc                                2.0
trans_days_interval_filter                8.0
trans_days_interval                       2.0
regional_mobility                         2.0
repayment_capability                      0.0
is_high_user                              0.0
number_of_trans_from_2011                 2.0
first_transaction_time                    2.0
historical_trans_amount                   0.0
historical_trans_day                      2.0
rank_trad_1_month                         2.0
trans_amount_3_month                      0.0
avg_consume_less_12_valid_month           2.0
abs                                       0.0
top_trans_count_last_1_month              2.0
avg_price_last_12_month                   0.0
avg_price_top_last_12_valid_month       104.0
reg_preference_for_trad                   2.0
trans_top_time_last_1_month               8.0
trans_top_time_last_6_month               8.0
consume_top_time_last_1_month             8.0
consume_top_time_last_6_month             8.0
cross_consume_count_last_1_month        426.0
trans_fail_top_count_enum_last_1_month   16.0
...                                       ...
loans_count                             297.0
loans_settle_count                      297.0
loans_overdue_count                     297.0
loans_org_count_behavior                297.0
consfin_org_count_behavior              297.0
loans_cash_count                        297.0
latest_one_month_loan                   297.0
latest_three_month_loan                 297.0
latest_six_month_loan                   297.0
history_suc_fee                         297.0
history_fail_fee                        297.0
latest_one_month_suc                    297.0
latest_one_month_fail                   297.0
loans_long_time                         297.0
loans_credit_limit                      297.0
loans_credibility_limit                 297.0
loans_org_count_current                 297.0
loans_product_count                     297.0
loans_max_limit                         297.0
loans_avg_limit                         297.0
consfin_credit_limit                    297.0
consfin_credibility                     297.0
consfin_org_count_current               297.0
consfin_product_count                   297.0
consfin_max_limit                       297.0
consfin_avg_limit                       297.0
latest_query_day                        304.0
loans_latest_day                        297.0
loan_last_days                          297.0
query_last_days                         304.0

[83 rows x 1 columns]

In [77]:
null_lst=[]
for i,j in enumerate(null['num']):
    if j>0:
        null_lst.append(null.index[i])

#用众数填充
for i in null_lst:
    fill_value=data[i].value_counts().index[0]
    data[i].fillna(fill_value, inplace=True)

In [78]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4754 entries, 0 to 4753
Data columns (total 83 columns):
low_volume_percent                            4754 non-null float64
middle_volume_percent                         4754 non-null float64
take_amount_in_later_12_month_highest         4754 non-null int64
trans_amount_increase_rate_lately             4754 non-null float64
trans_activity_month                          4754 non-null float64
trans_activity_day                            4754 non-null float64
transd_mcc                                    4754 non-null float64
trans_days_interval_filter                    4754 non-null float64
trans_days_interval                           4754 non-null float64
regional_mobility                             4754 non-null float64
repayment_capability                          4754 non-null int64
is_high_user                                  4754 non-null int64
number_of_trans_from_2011                     4754 non-null float64
first_transaction_time                        4754 non-null float64
historical_trans_amount                       4754 non-null int64
historical_trans_day                          4754 non-null float64
rank_trad_1_month                             4754 non-null float64
trans_amount_3_month                          4754 non-null int64
avg_consume_less_12_valid_month               4754 non-null float64
abs                                           4754 non-null int64
top_trans_count_last_1_month                  4754 non-null float64
avg_price_last_12_month                       4754 non-null int64
avg_price_top_last_12_valid_month             4754 non-null float64
reg_preference_for_trad                       4754 non-null object
trans_top_time_last_1_month                   4754 non-null float64
trans_top_time_last_6_month                   4754 non-null float64
consume_top_time_last_1_month                 4754 non-null float64
consume_top_time_last_6_month                 4754 non-null float64
cross_consume_count_last_1_month              4754 non-null float64
trans_fail_top_count_enum_last_1_month        4754 non-null float64
trans_fail_top_count_enum_last_6_month        4754 non-null float64
trans_fail_top_count_enum_last_12_month       4754 non-null float64
consume_mini_time_last_1_month                4754 non-null float64
max_cumulative_consume_later_1_month          4754 non-null int64
max_consume_count_later_6_month               4754 non-null float64
railway_consume_count_last_12_month           4754 non-null float64
pawns_auctions_trusts_consume_last_1_month    4754 non-null int64
pawns_auctions_trusts_consume_last_6_month    4754 non-null int64
jewelry_consume_count_last_6_month            4754 non-null float64
status                                        4754 non-null int64
first_transaction_day                         4754 non-null float64
trans_day_last_12_month                       4754 non-null float64
apply_score                                   4754 non-null float64
apply_credibility                             4754 non-null float64
query_org_count                               4754 non-null float64
query_finance_count                           4754 non-null float64
query_cash_count                              4754 non-null float64
query_sum_count                               4754 non-null float64
latest_one_month_apply                        4754 non-null float64
latest_three_month_apply                      4754 non-null float64
latest_six_month_apply                        4754 non-null float64
loans_score                                   4754 non-null float64
loans_credibility_behavior                    4754 non-null float64
loans_count                                   4754 non-null float64
loans_settle_count                            4754 non-null float64
loans_overdue_count                           4754 non-null float64
loans_org_count_behavior                      4754 non-null float64
consfin_org_count_behavior                    4754 non-null float64
loans_cash_count                              4754 non-null float64
latest_one_month_loan                         4754 non-null float64
latest_three_month_loan                       4754 non-null float64
latest_six_month_loan                         4754 non-null float64
history_suc_fee                               4754 non-null float64
history_fail_fee                              4754 non-null float64
latest_one_month_suc                          4754 non-null float64
latest_one_month_fail                         4754 non-null float64
loans_long_time                               4754 non-null float64
loans_credit_limit                            4754 non-null float64
loans_credibility_limit                       4754 non-null float64
loans_org_count_current                       4754 non-null float64
loans_product_count                           4754 non-null float64
loans_max_limit                               4754 non-null float64
loans_avg_limit                               4754 non-null float64
consfin_credit_limit                          4754 non-null float64
consfin_credibility                           4754 non-null float64
consfin_org_count_current                     4754 non-null float64
consfin_product_count                         4754 non-null float64
consfin_max_limit                             4754 non-null float64
consfin_avg_limit                             4754 non-null float64
latest_query_day                              4754 non-null float64
loans_latest_day                              4754 non-null float64
loan_last_days                                4754 non-null float64
query_last_days                               4754 non-null float64
dtypes: float64(71), int64(11), object(1)
memory usage: 3.0+ MB

In [79]:
data.shape

(4754, 83)

# 计算IV值筛选变量

In [80]:
pd.value_counts(data.status)

0    3561
1    1193
Name: status, dtype: int64

In [81]:
data[['reg_preference_for_trad','status']].groupby(data['reg_preference_for_trad'])['status'].count().reset_index()

  reg_preference_for_trad  status
0                    一线城市    3405
1                    三线城市    1064
2                    二线城市     131
3                    其他城市       4
4                      境外     150

In [82]:
#计算离散型变量的iv值reg_preference_for_trad
def calc_iv_obj(y,x):
    df=pd.DataFrame({'X':x,'Y':y})
    
    df.dropna(inplace=True)
    
    total_bad=df[df['Y']==1].shape[0]
    
    total_good=df[df['Y']==0].shape[0]
    
    df_group_bad=df.groupby(['X']).Y.sum().reset_index()
    
    df_group_bad.columns=['X_1','group_bad']
    
    df_group_total=df.groupby(['X']).Y.count().reset_index()
    
    df_group_total.columns=['X_2','group_total']
    
    df_merge=pd.merge(df_group_bad,df_group_total,how='left',left_on=['X_1'],right_on=['X_2'])
    
    df_merge['group_good']=df_merge['group_total']-df_merge['group_bad']
    
    df_merge['woe']=np.log((df_merge['group_bad']/total_bad)/(df_merge['group_good']/total_good))
    
    df_merge['iv']=((df_merge['group_bad']/total_bad)/(df_merge['group_good']/total_good))*df_merge['woe']
    
    return np.sum(df_merge['iv'].values)

In [83]:
calc_iv_obj(data['status'],data['reg_preference_for_trad'])

3.382358960328593

In [84]:
data.select_dtypes('object')

     reg_preference_for_trad
0                       一线城市
1                       一线城市
2                       一线城市
3                       三线城市
4                       一线城市
5                       三线城市
6                       一线城市
7                       一线城市
8                       三线城市
9                       一线城市
10                      一线城市
11                      一线城市
12                      三线城市
13                      一线城市
14                      一线城市
15                      一线城市
16                        境外
17                      一线城市
18                        境外
19                      一线城市
20                      一线城市
21                      一线城市
22                        境外
23                      三线城市
24                      一线城市
25                        境外
26                      一线城市
27                      三线城市
28                      一线城市
29                      一线城市
...                      ...
4724                    一线城市
4725                    一线城市
4726                      境外
4727                    一线城市
4728                    一线城市
4729                    一线城市
4730                    三线城市
4731                    三线城市
4732                    一线城市
4733                    二线城市
4734                      境外
4735                    一线城市
4736                    一线城市
4737                    一线城市
4738                    一线城市
4739                    三线城市
4740                    一线城市
4741                    一线城市
4742                    一线城市
4743                    三线城市
4744                    一线城市
4745                    三线城市
4746                    一线城市
4747                      境外
4748                    一线城市
4749                    一线城市
4750                    一线城市
4751                    一线城市
4752                    一线城市
4753                    一线城市

[4754 rows x 1 columns]

In [85]:
pd.get_dummies(data['reg_preference_for_trad'])

      一线城市  三线城市  二线城市  其他城市  境外
0        1     0     0     0   0
1        1     0     0     0   0
2        1     0     0     0   0
3        0     1     0     0   0
4        1     0     0     0   0
5        0     1     0     0   0
6        1     0     0     0   0
7        1     0     0     0   0
8        0     1     0     0   0
9        1     0     0     0   0
10       1     0     0     0   0
11       1     0     0     0   0
12       0     1     0     0   0
13       1     0     0     0   0
14       1     0     0     0   0
15       1     0     0     0   0
16       0     0     0     0   1
17       1     0     0     0   0
18       0     0     0     0   1
19       1     0     0     0   0
20       1     0     0     0   0
21       1     0     0     0   0
22       0     0     0     0   1
23       0     1     0     0   0
24       1     0     0     0   0
25       0     0     0     0   1
26       1     0     0     0   0
27       0     1     0     0   0
28       1     0     0     0   0
29       1     0     0     0   0
...    ...   ...   ...   ...  ..
4724     1     0     0     0   0
4725     1     0     0     0   0
4726     0     0     0     0   1
4727     1     0     0     0   0
4728     1     0     0     0   0
4729     1     0     0     0   0
4730     0     1     0     0   0
4731     0     1     0     0   0
4732     1     0     0     0   0
4733     0     0     1     0   0
4734     0     0     0     0   1
4735     1     0     0     0   0
4736     1     0     0     0   0
4737     1     0     0     0   0
4738     1     0     0     0   0
4739     0     1     0     0   0
4740     1     0     0     0   0
4741     1     0     0     0   0
4742     1     0     0     0   0
4743     0     1     0     0   0
4744     1     0     0     0   0
4745     0     1     0     0   0
4746     1     0     0     0   0
4747     0     0     0     0   1
4748     1     0     0     0   0
4749     1     0     0     0   0
4750     1     0     0     0   0
4751     1     0     0     0   0
4752     1     0     0     0   0
4753     1     0     0     0   0

[4754 rows x 5 columns]

In [86]:
import scipy.stats.stats as stats

In [87]:
#计算连续变量的iv值，需要分箱，等频分箱
def calc_iv_num(Y,X,n=10):
    X2=X.fillna(np.median(X))
    r=0
    while np.abs(r)<1:
        d1=pd.DataFrame({'X':X2,'Y':Y,'bucket':pd.qcut(X,n,duplicates='drop')})
        d2=d1.groupby('bucket',as_index=True)
        
        r,p=stats.spearmanr(d2.X.mean(),d2.Y.mean())
        n=n-1
        
    total_good=d1[d1['Y']==0].shape[0]
    total_bad=d1[d1['Y']==1].shape[0]
    df_group_bad=d1.groupby(['bucket']).Y.sum().reset_index()
    df_group_bad.columns=['bucket','bad']
    df_group_total=d1.groupby(['bucket']).Y.count().reset_index()
    df_group_total.columns=['bucket','total']
    df_merge=pd.merge(df_group_bad,df_group_total,how='left',left_on=['bucket'],right_on=['bucket'])
    df_merge['good']=df_merge['total']-df_merge['bad']
    df_merge['woe']=np.log((df_merge['bad']/total_bad)/(df_merge['good']/total_good))
    
    df_merge['iv']=((df_merge['bad']/total_bad)/(df_merge['good']/total_good))*df_merge['woe']
    
    return np.sum(df_merge['iv'].values)

In [88]:
data_test=data[['middle_volume_percent','status']]

In [89]:
data_test['no']=pd.qcut(data_test['middle_volume_percent'],5)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [90]:
data_test

      middle_volume_percent  status              no
0                      0.99       1    (0.97, 0.99]
1                      0.94       0    (0.85, 0.94]
2                      0.96       1    (0.94, 0.97]
3                      0.96       0    (0.94, 0.97]
4                      0.99       1    (0.97, 0.99]
5                      0.98       0    (0.97, 0.99]
6                      0.98       0    (0.97, 0.99]
7                      0.98       0    (0.97, 0.99]
8                      0.65       0  (-0.001, 0.85]
9                      0.99       1    (0.97, 0.99]
10                     0.99       1    (0.97, 0.99]
11                     0.99       0    (0.97, 0.99]
12                     0.73       0  (-0.001, 0.85]
13                     0.79       0  (-0.001, 0.85]
14                     0.89       1    (0.85, 0.94]
15                     0.99       1    (0.97, 0.99]
16                     0.98       1    (0.97, 0.99]
17                     0.98       0    (0.97, 0.99]
18                     0.99       0    (0.97, 0.99]
19                     0.96       1    (0.94, 0.97]
20                     0.98       1    (0.97, 0.99]
21                     0.98       0    (0.97, 0.99]
22                     0.59       0  (-0.001, 0.85]
23                     0.99       0    (0.97, 0.99]
24                     0.78       0  (-0.001, 0.85]
25                     0.60       1  (-0.001, 0.85]
26                     0.96       0    (0.94, 0.97]
27                     0.91       0    (0.85, 0.94]
28                     0.99       0    (0.97, 0.99]
29                     0.64       0  (-0.001, 0.85]
...                     ...     ...             ...
4724                   0.98       1    (0.97, 0.99]
4725                   0.99       0    (0.97, 0.99]
4726                   1.00       0     (0.99, 1.0]
4727                   0.98       0    (0.97, 0.99]
4728                   0.94       0    (0.85, 0.94]
4729                   0.83       0  (-0.001, 0.85]
4730                   0.99       1    (0.97, 0.99]
4731                   0.58       0  (-0.001, 0.85]
4732                   0.89       0    (0.85, 0.94]
4733                   0.97       1    (0.94, 0.97]
4734                   1.00       1     (0.99, 1.0]
4735                   0.61       1  (-0.001, 0.85]
4736                   0.95       0    (0.94, 0.97]
4737                   0.99       1    (0.97, 0.99]
4738                   0.98       1    (0.97, 0.99]
4739                   0.62       0  (-0.001, 0.85]
4740                   0.93       0    (0.85, 0.94]
4741                   0.83       0  (-0.001, 0.85]
4742                   0.98       0    (0.97, 0.99]
4743                   1.00       0     (0.99, 1.0]
4744                   0.96       1    (0.94, 0.97]
4745                   0.96       0    (0.94, 0.97]
4746                   0.91       0    (0.85, 0.94]
4747                   0.40       0  (-0.001, 0.85]
4748                   0.91       0    (0.85, 0.94]
4749                   0.68       1  (-0.001, 0.85]
4750                   0.99       0    (0.97, 0.99]
4751                   1.00       0     (0.99, 1.0]
4752                   0.95       0    (0.94, 0.97]
4753                   0.99       0    (0.97, 0.99]

[4754 rows x 3 columns]

In [91]:
calc_iv_num(data_test.status,data_test.middle_volume_percent)

0.028950165392540417

In [92]:
#筛选数值型变量
data_num=data.select_dtypes(['int64','float64'])

In [93]:
lst=[]
for i in data_num.columns:
    iv=calc_iv_num(data_num['status'],data[i],n=5)
    if iv>1000:
        iv=30
    lst.append(iv)
iv_df=pd.DataFrame(lst,index=data_num.columns,columns=['iv'])
iv_df.sort_values(by='iv',ascending=False)

                                                  iv
trans_fail_top_count_enum_last_1_month      6.232330
loans_overdue_count                         3.041027
history_fail_fee                            1.677335
loans_score                                 1.288206
apply_score                                 1.071714
trans_fail_top_count_enum_last_6_month      0.950087
trans_day_last_12_month                     0.643048
top_trans_count_last_1_month                0.568013
trans_fail_top_count_enum_last_12_month     0.549040
rank_trad_1_month                           0.440719
max_cumulative_consume_later_1_month        0.266201
query_cash_count                            0.147394
low_volume_percent                          0.143848
query_last_days                             0.123477
trans_amount_3_month                        0.119743
latest_query_day                            0.118140
consfin_avg_limit                           0.109932
consfin_org_count_behavior                  0.085410
consfin_org_count_current                   0.085410
latest_six_month_loan                       0.085223
consfin_credit_limit                        0.084004
avg_price_last_12_month                     0.074023
trans_days_interval                         0.070314
trans_top_time_last_6_month                 0.056934
loans_count                                 0.048993
loans_org_count_behavior                    0.042784
consfin_product_count                       0.042177
consume_top_time_last_6_month               0.040601
latest_three_month_loan                     0.039717
consfin_max_limit                           0.034491
...                                              ...
loans_long_time                             0.000000
first_transaction_time                      0.000000
jewelry_consume_count_last_6_month          0.000000
transd_mcc                                  0.000000
max_consume_count_later_6_month             0.000000
railway_consume_count_last_12_month         0.000000
consume_top_time_last_1_month               0.000000
loans_credibility_behavior                  0.000000
status                                      0.000000
trans_top_time_last_1_month                 0.000000
first_transaction_day                       0.000000
avg_price_top_last_12_valid_month           0.000000
cross_consume_count_last_1_month            0.000000
apply_credibility                           0.000000
query_finance_count                         0.000000
historical_trans_amount                     0.000000
latest_three_month_apply                    0.000000
is_high_user                                0.000000
latest_six_month_apply                      0.000000
avg_consume_less_12_valid_month             0.000000
trans_days_interval_filter                  0.000000
loans_settle_count                         -0.000962
latest_one_month_apply                     -0.006471
loans_credit_limit                         -0.013649
trans_activity_month                       -0.036568
regional_mobility                          -0.047255
consume_mini_time_last_1_month             -0.155449
latest_one_month_loan                      -0.179642
pawns_auctions_trusts_consume_last_1_month -0.236405
latest_one_month_suc                       -0.442965

[82 rows x 1 columns]

In [94]:
iv_df_final=iv_df[iv_df['iv']>0.06].sort_values(by='iv',ascending=False)

In [95]:
iv_df_final

                                               iv
trans_fail_top_count_enum_last_1_month   6.232330
loans_overdue_count                      3.041027
history_fail_fee                         1.677335
loans_score                              1.288206
apply_score                              1.071714
trans_fail_top_count_enum_last_6_month   0.950087
trans_day_last_12_month                  0.643048
top_trans_count_last_1_month             0.568013
trans_fail_top_count_enum_last_12_month  0.549040
rank_trad_1_month                        0.440719
max_cumulative_consume_later_1_month     0.266201
query_cash_count                         0.147394
low_volume_percent                       0.143848
query_last_days                          0.123477
trans_amount_3_month                     0.119743
latest_query_day                         0.118140
consfin_avg_limit                        0.109932
consfin_org_count_behavior               0.085410
consfin_org_count_current                0.085410
latest_six_month_loan                    0.085223
consfin_credit_limit                     0.084004
avg_price_last_12_month                  0.074023
trans_days_interval                      0.070314

# 合并读热码数据

In [96]:
data_1=data.join(pd.get_dummies(data['reg_preference_for_trad']))
data_1

,low_volume_percent,middle_volume_percent,take_amount_in_later_12_month_highest,trans_amount_increase_rate_lately,trans_activity_month,trans_activity_day,transd_mcc,trans_days_interval_filter,trans_days_interval,regional_mobility,...,consfin_avg_limit,latest_query_day,loans_latest_day,loan_last_days,query_last_days,一线城市,三线城市,二线城市,其他城市,境外
0,0.01,0.99,0,0.90,0.55,0.313,17.0,27.0,26.0,3.0,...,1200.0,12.0,18.0,389.0,383.0,1,0,0,0,0
1,0.02,0.94,2000,1.28,1.00,0.458,19.0,30.0,14.0,4.0,...,9360.0,4.0,2.0,373.0,375.0,1,0,0,0,0
2,0.04,0.96,0,1.00,1.00,0.114,13.0,68.0,22.0,1.0,...,4200.0,2.0,6.0,377.0,373.0,1,0,0,0,0
3,0.00,0.96,2000,0.13,0.57,0.777,22.0,14.0,6.0,3.0,...,12180.0,2.0,4.0,375.0,373.0,0,1,0,0,0
4,0.01,0.99,0,0.46,1.00,0.175,13.0,66.0,42.0,1.0,...,8250.0,22.0,120.0,491.0,393.0,1,0,0,0,0
5,0.02,0.98,2000,7.59,1.00,0.733,27.0,8.0,11.0,3.0,...,8130.0,3.0,4.0,375.0,374.0,0,1,0,0,0
6,0.02,0.98,0,23.67,0.94,0.087,10.0,54.0,53.0,2.0,...,8900.0,1.0,3.0,374.0,372.0,1,0,0,0,0
7,0.02,0.98,0,0.25,0.88,0.302,19.0,20.0,20.0,2.0,...,0.0,23.0,4.0,375.0,394.0,1,0,0,0,0
8,0.03,0.65,0,0.31,0.76,0.472,15.0,21.0,14.0,2.0,...,7987.0,24.0,7.0,378.0,395.0,0,1,0,0,0
9,0.01,0.99,500,0.80,1.00,0.088,15.0,36.0,35.0,2.0,...,0.0,18.0,142.0,516.0,392.0,1,0,0,0,0
10,0.01,0.99,0,2.48,0.94,0.322,16.0,29.0,21.0,2.0,...,7757.0,12.0,9.0,380.0,383.0,1,0,0,0,0
11,0.01,0.99,500,0.72,0.63,0.450,17.0,15.0,11.0,1.0,...,9400.0,31.0,35.0,406.0,402.0,1,0,0,0,0
12,0.00,0.73,5000,0.09,0.70,0.697,28.0,12.0,13.0,4.0,...,16985.0,38.0,6.0,377.0,409.0,0,1,0,0,0
13,0.01,0.79,0,1.24,1.00,0.447,16.0,19.0,13.0,1.0,...,5460.0,13.0,9.0,380.0,384.0,1,0,0,0,0
14,0.01,0.89,4000,0.07,1.00,0.233,17.0,32.0,18.0,4.0,...,0.0,16.0,193.0,564.0,387.0,1,0,0,0,0
15,0.01,0.99,0,1.13,0.76,0.480,20.0,16.0,17.0,4.0,...,17633.0,4.0,27.0,398.0,375.0,1,0,0,0,0
16,0.02,0.98,0,0.21,1.00,0.247,13.0,50.0,15.0,3.0,...,9900.0,3.0,1.0,372.0,374.0,0,0,0,0,1
17,0.02,0.98,300,0.60,0.43,0.355,19.0,19.0,14.0,4.0,...,4062.0,9.0,7.0,378.0,380.0,1,0,0,0,0
18,0.01,0.99,2000,0.87,1.00,0.377,15.0,62.0,17.0,3.0,...,10275.0,26.0,77.0,448.0,397.0,0,0,0,0,1
19,0.01,0.96,0,1.37,0.51,0.486,18.0,21.0,15.0,3.0,...,8187.0,12.0,37.0,408.0,383.0,1,0,0,0,0
20,0.02,0.98,300,0.11,1.00,0.229,11.0,20.0,18.0,3.0,...,8400.0,3.0,71.0,442.0,374.0,1,0,0,0,0
21,0.02,0.98,0,0.43,0.66,0.369,15.0,72.0,41.0,3.0,...,18600.0,7.0,23.0,394.0,378.0,1,0,0,0,0
22,0.00,0.59,0,3.48,0.92,0.255,19.0,229.0,19.0,4.0,...,20454.0,4.0,1.0,375.0,378.0,0,0,0,0,1
23,0.01,0.99,2400,1.71,0.57,0.388,18.0,16.0,13.0,3.0,...,6100.0,12.0,9.0,380.0,383.0,0,1,0,0,0
24,0.02,0.78,2500,1.90,0.83,0.336,23.0,20.0,15.0,3.0,...,15500.0,14.0,104.0,475.0,385.0,1,0,0,0,0
25,0.40,0.60,0,1.46,0.69,0.375,9.0,23.0,23.0,3.0,...,9841.0,21.0,82.0,456.0,395.0,0,0,0,0,1
26,0.02,0.96,0,12.35,0.96,0.444,20.0,13.0,12.0,3.0,...,7050.0,10.0,80.0,451.0,381.0,1,0,0,0,0
27,0.01,0.91,2000,46.90,0.69,0.263,19.0,42.0,42.0,3.0,...,6461.0,20.0,6.0,377.0,391.0,0,1,0,0,0
28,0.01,0.99,3000,0.91,0.93,0.305,21.0,17.0,14.0,3.0,...,21600.0,5.0,9.0,380.0,376.0,1,0,0,0,0
29,0.02,0.64,1500,1.02,0.44,0.211,15.0,38.0,25.0,4.0,...,3000.0,23.0,34.0,405.0,394.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4724,0.02,0.98,1000,1.37,0.89,0.287,20.0,31.0,22.0,3.0,...,3460.0,21.0,5.0,376.0,392.0,1,0,0,0,0
4725,0.01,0.99,0,0.28,0.57,0.137,13.0,34.0,28.0,2.0,...,11850.0,142.0,100.0,471.0,513.0,1,0,0,0,0
4726,0.00,1.00,900,1.60,0.90,0.250,12.0,38.0,35.0,2.0,...,4800.0,19.0,53.0,427.0,393.0,0,0,0,0,1
4727,0.02,0.98,0,1.33,0.82,0.341,17.0,14.0,14.0,3.0,...,5125.0,28.0,57.0,428.0,399.0,1,0,0,0,0
4728,0.06,0.94,1500,4.70,1.00,0.444,16.0,23.0,22.0,3.0,...,8933.0,18.0,9.0,380.0,389.0,1,0,0,0,0
4729,0.17,0.83,0,0.88,1.00,0.316,16.0,42.0,27.0,2.0,...,7200.0,3.0,104.0,475.0,374.0,1,0,0,0,0
4730,0.01,0.99,2000,0.54,0.44,0.215,17.0,28.0,32.0,4.0,...,15600.0,28.0,128.0,499.0,399.0,0,1,0,0,0
4731,0.00,0.58,2000,2.63,0.73,0.525,19.0,30.0,12.0,4.0,...,25361.0,2.0,11.0,382.0,373.0,0,1,0,0,0
4732,0.11,0.89,4000,49.37,1.00,0.115,12.0,31.0,30.0,1.0,...,4950.0,9.0,250.0,621.0,380.0,1,0,0,0,0
4733,0.03,0.97,1000,2.98,0.88,0.255,14.0,38.0,18.0,3.0,...,6900.0,14.0,9.0,380.0,385.0,0,0,1,0,0
4734,0.00,1.00,0,1.06,0.85,0.221,11.0,29.0,57.0,3.0,...,1500.0,24.0,131.0,502.0,395.0,0,0,0,0,1
4735,0.01,0.61,5000,1.15,0.61,0.197,14.0,42.0,25.0,3.0,...,21100.0,2.0,6.0,377.0,373.0,1,0,0,0,0
4736,0.05,0.95,2000,2.39,1.00,0.207,12.0,27.0,22.0,2.0,...,10200.0,18.0,156.0,527.0,389.0,1,0,0,0,0
4737,0.01,0.99,300,1.00,0.46,0.547,20.0,8.0,14.0,3.0,...,11714.0,1.0,7.0,381.0,375.0,1,0,0,0,0
4738,0.02,0.98,0,6.14,0.89,0.133,13.0,28.0,28.0,3.0,...,5700.0,48.0,89.0,460.0,419.0,1,0,0,0,0
4739,0.05,0.62,2400,0.28,0.67,0.403,17.0,27.0,18.0,2.0,...,3600.0,12.0,9.0,383.0,386.0,0,1,0,0,0
4740,0.07,0.93,9100,0.71,1.00,0.277,17.0,14.0,12.0,2.0,...,9200.0,31.0,163.0,534.0,402.0,1,0,0,0,0
4741,0.00,0.83,3000,0.54,1.00,0.441,20.0,33.0,12.0,2.0,...,13900.0,9.0,140.0,514.0,383.0,1,0,0,0,0
4742,0.02,0.98,11300,0.39,0.96,0.525,18.0,16.0,14.0,2.0,...,7557.0,4.0,4.0,375.0,375.0,1,0,0,0,0
4743,0.00,1.00,0,0.84,1.00,0.372,19.0,44.0,14.0,2.0,...,2300.0,11.0,12.0,386.0,385.0,0,1,0,0,0
4744,0.01,0.96,0,0.89,0.45,0.405,15.0,21.0,16.0,3.0,...,3344.0,5.0,88.0,459.0,376.0,1,0,0,0,0
4745,0.04,0.96,400,0.79,0.67,0.348,15.0,20.0,117.0,3.0,...,5850.0,1.0,8.0,379.0,372.0,0,1,0,0,0
4746,0.01,0.91,1600,1.04,0.82,0.541,22.0,14.0,10.0,3.0,...,0.0,23.0,4.0,375.0,394.0,1,0,0,0,0
4747,0.02,0.40,0,1.08,0.94,0.394,25.0,20.0,15.0,4.0,...,3260.0,1.0,22.0,393.0,372.0,0,0,0,0,1
4748,0.09,0.91,0,0.15,0.20,0.159,8.0,36.0,36.0,2.0,...,18300.0,35.0,54.0,425.0,406.0,1,0,0,0,0
4749,0.05,0.68,1000,0.87,0.94,0.150,16.0,32.0,24.0,4.0,...,49200.0,44.0,58.0,429.0,415.0,1,0,0,0,0
4750,0.01,0.99,400,0.93,0.98,0.605,18.0,18.0,16.0,3.0,...,7500.0,17.0,55.0,426.0,388.0,1,0,0,0,0
4751,0.00,1.00,3000,0.54,0.64,0.313,16.0,29.0,25.0,3.0,...,7250.0,18.0,55.0,426.0,389.0,1,0,0,0,0
4752,0.05,0.95,0,4.79,1.00,0.458,19.0,27.0,16.0,4.0,...,3950.0,55.0,16.0,390.0,429.0,1,0,0,0,0
4753,0.01,0.99,1300,21.35,1.00,0.372,22.0,22.0,21.0,2.0,...,4360.0,20.0,54.0,425.0,391.0,1,0,0,0,0

In [97]:
data_1.drop(columns=['reg_preference_for_trad'],axis=1,inplace=True)

In [98]:
data_1.shape

(4754, 87)

In [99]:
data.shape

(4754, 83)

# 区分X和Y

In [100]:
#区分X和Y
data_y=pd.DataFrame(data_1['status'])

In [101]:
data_y

      status
0          1
1          0
2          1
3          0
4          1
5          0
6          0
7          0
8          0
9          1
10         1
11         0
12         0
13         0
14         1
15         1
16         1
17         0
18         0
19         1
20         1
21         0
22         0
23         0
24         0
25         1
26         0
27         0
28         0
29         0
...      ...
4724       1
4725       0
4726       0
4727       0
4728       0
4729       0
4730       1
4731       0
4732       0
4733       1
4734       1
4735       1
4736       0
4737       1
4738       1
4739       0
4740       0
4741       0
4742       0
4743       0
4744       1
4745       0
4746       0
4747       0
4748       0
4749       1
4750       0
4751       0
4752       0
4753       0

[4754 rows x 1 columns]

In [102]:
data_x=data_1.drop('status',axis=1,inplace=False)

In [103]:
data_x.shape

(4754, 86)

# 计算随机森林特征重要性

In [104]:
data_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4754 entries, 0 to 4753
Data columns (total 86 columns):
low_volume_percent                            4754 non-null float64
middle_volume_percent                         4754 non-null float64
take_amount_in_later_12_month_highest         4754 non-null int64
trans_amount_increase_rate_lately             4754 non-null float64
trans_activity_month                          4754 non-null float64
trans_activity_day                            4754 non-null float64
transd_mcc                                    4754 non-null float64
trans_days_interval_filter                    4754 non-null float64
trans_days_interval                           4754 non-null float64
regional_mobility                             4754 non-null float64
repayment_capability                          4754 non-null int64
is_high_user                                  4754 non-null int64
number_of_trans_from_2011                     4754 non-null float64
first_transaction_time                        4754 non-null float64
historical_trans_amount                       4754 non-null int64
historical_trans_day                          4754 non-null float64
rank_trad_1_month                             4754 non-null float64
trans_amount_3_month                          4754 non-null int64
avg_consume_less_12_valid_month               4754 non-null float64
abs                                           4754 non-null int64
top_trans_count_last_1_month                  4754 non-null float64
avg_price_last_12_month                       4754 non-null int64
avg_price_top_last_12_valid_month             4754 non-null float64
trans_top_time_last_1_month                   4754 non-null float64
trans_top_time_last_6_month                   4754 non-null float64
consume_top_time_last_1_month                 4754 non-null float64
consume_top_time_last_6_month                 4754 non-null float64
cross_consume_count_last_1_month              4754 non-null float64
trans_fail_top_count_enum_last_1_month        4754 non-null float64
trans_fail_top_count_enum_last_6_month        4754 non-null float64
trans_fail_top_count_enum_last_12_month       4754 non-null float64
consume_mini_time_last_1_month                4754 non-null float64
max_cumulative_consume_later_1_month          4754 non-null int64
max_consume_count_later_6_month               4754 non-null float64
railway_consume_count_last_12_month           4754 non-null float64
pawns_auctions_trusts_consume_last_1_month    4754 non-null int64
pawns_auctions_trusts_consume_last_6_month    4754 non-null int64
jewelry_consume_count_last_6_month            4754 non-null float64
first_transaction_day                         4754 non-null float64
trans_day_last_12_month                       4754 non-null float64
apply_score                                   4754 non-null float64
apply_credibility                             4754 non-null float64
query_org_count                               4754 non-null float64
query_finance_count                           4754 non-null float64
query_cash_count                              4754 non-null float64
query_sum_count                               4754 non-null float64
latest_one_month_apply                        4754 non-null float64
latest_three_month_apply                      4754 non-null float64
latest_six_month_apply                        4754 non-null float64
loans_score                                   4754 non-null float64
loans_credibility_behavior                    4754 non-null float64
loans_count                                   4754 non-null float64
loans_settle_count                            4754 non-null float64
loans_overdue_count                           4754 non-null float64
loans_org_count_behavior                      4754 non-null float64
consfin_org_count_behavior                    4754 non-null float64
loans_cash_count                              4754 non-null float64
latest_one_month_loan                         4754 non-null float64
latest_three_month_loan                       4754 non-null float64
latest_six_month_loan                         4754 non-null float64
history_suc_fee                               4754 non-null float64
history_fail_fee                              4754 non-null float64
latest_one_month_suc                          4754 non-null float64
latest_one_month_fail                         4754 non-null float64
loans_long_time                               4754 non-null float64
loans_credit_limit                            4754 non-null float64
loans_credibility_limit                       4754 non-null float64
loans_org_count_current                       4754 non-null float64
loans_product_count                           4754 non-null float64
loans_max_limit                               4754 non-null float64
loans_avg_limit                               4754 non-null float64
consfin_credit_limit                          4754 non-null float64
consfin_credibility                           4754 non-null float64
consfin_org_count_current                     4754 non-null float64
consfin_product_count                         4754 non-null float64
consfin_max_limit                             4754 non-null float64
consfin_avg_limit                             4754 non-null float64
latest_query_day                              4754 non-null float64
loans_latest_day                              4754 non-null float64
loan_last_days                                4754 non-null float64
query_last_days                               4754 non-null float64
一线城市                                          4754 non-null uint8
三线城市                                          4754 non-null uint8
二线城市                                          4754 non-null uint8
其他城市                                          4754 non-null uint8
境外                                            4754 non-null uint8
dtypes: float64(71), int64(10), uint8(5)
memory usage: 3.0 MB

In [105]:
data_x.select_dtypes('uint8').columns

Index(['一线城市', '三线城市', '二线城市', '其他城市', '境外'], dtype='object')

In [106]:
data_x[['一线城市','三线城市','二线城市','其他城市','境外']]=data_x[['一线城市','三线城市','二线城市','其他城市','境外']].astype('float')

In [112]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(data_x, data_y, test_size=0.2, random_state=2017)

In [113]:
from sklearn.ensemble import RandomForestClassifier
rf_clf=RandomForestClassifier(n_estimators=1000,random_state=666,oob_score=True)

rf_clf.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
            oob_score=True, random_state=666, verbose=0, warm_start=False)

In [38]:
importances = rf_clf.feature_importances_

indices = np.argsort(importances)[::-1]

labels = data.columns[:-1]

for i in range(x_train.shape[1]):
    print("%2d) %-*s %f" % (i + 1, 30, labels[indices[i]], importances[indices[i]]))

 1) trans_fail_top_count_enum_last_1_month 0.050509
 2) history_fail_fee               0.044546
 3) loans_score                    0.035342
 4) apply_score                    0.031136
 5) latest_one_month_fail          0.021910
 6) loans_overdue_count            0.020500
 7) trans_amount_3_month           0.018865
 8) max_cumulative_consume_later_1_month 0.017181
 9) repayment_capability           0.016387
10) trans_amount_increase_rate_lately 0.016239
11) abs                            0.015543
12) historical_trans_amount        0.015469
13) avg_price_last_12_month        0.015389
14) trans_fail_top_count_enum_last_12_month 0.015149
15) trans_fail_top_count_enum_last_6_month 0.015011
16) consfin_avg_limit              0.014941
17) trans_activity_day             0.014721
18) first_transaction_time         0.014456
19) historical_trans_day           0.014320
20) first_transaction_day          0.014264
21) pawns_auctions_trusts_consume_last_6_month 0.014248
22) latest_query_day               0.013754
23) trans_day_last_12_month        0.013641
24) trans_days_interval_filter     0.013585
25) rank_trad_1_month              0.013354
26) loans_avg_limit                0.013098

IndexError: index 81 is out of bounds for axis 0 with size 81

In [114]:
data_x.shape

(4754, 86)

In [115]:
importances = rf_clf.feature_importances_

len(importances)

86

In [116]:
importances=rf_clf.feature_importances_

dic1={}
for i in range(len(importances)):
    dic1[data_x.columns[i]]=rf_clf.feature_importances_[i]

In [119]:
df_importances=pd.DataFrame({'var':list(dic1.keys()),'importances':list(dic1.values())})

In [121]:
df_importances.sort_values(by='importances',ascending=False)

                                           var  importances
28      trans_fail_top_count_enum_last_1_month     0.050864
61                            history_fail_fee     0.041382
49                                 loans_score     0.034906
40                                 apply_score     0.031060
63                       latest_one_month_fail     0.022173
53                         loans_overdue_count     0.020591
17                        trans_amount_3_month     0.018612
32        max_cumulative_consume_later_1_month     0.017251
10                        repayment_capability     0.016461
3            trans_amount_increase_rate_lately     0.016051
19                                         abs     0.015885
29      trans_fail_top_count_enum_last_6_month     0.015871
14                     historical_trans_amount     0.015780
30     trans_fail_top_count_enum_last_12_month     0.015719
21                     avg_price_last_12_month     0.015495
15                        historical_trans_day     0.014723
13                      first_transaction_time     0.014510
76                           consfin_avg_limit     0.014501
38                       first_transaction_day     0.014392
5                           trans_activity_day     0.014204
39                     trans_day_last_12_month     0.013985
36  pawns_auctions_trusts_consume_last_6_month     0.013972
77                            latest_query_day     0.013549
70                             loans_avg_limit     0.013463
7                   trans_days_interval_filter     0.013384
71                        consfin_credit_limit     0.013036
80                             query_last_days     0.012919
78                            loans_latest_day     0.012847
16                           rank_trad_1_month     0.012739
79                              loan_last_days     0.012707
..                                         ...          ...
43                         query_finance_count     0.009036
42                             query_org_count     0.009005
33             max_consume_count_later_6_month     0.008928
54                    loans_org_count_behavior     0.008889
22           avg_price_top_last_12_valid_month     0.008800
50                  loans_credibility_behavior     0.008137
66                     loans_credibility_limit     0.008066
68                         loans_product_count     0.007859
20                top_trans_count_last_1_month     0.007844
46                      latest_one_month_apply     0.007789
58                     latest_three_month_loan     0.007609
56                            loans_cash_count     0.007552
0                           low_volume_percent     0.007513
67                     loans_org_count_current     0.007501
44                            query_cash_count     0.007207
74                       consfin_product_count     0.007041
18             avg_consume_less_12_valid_month     0.006706
55                  consfin_org_count_behavior     0.006642
73                   consfin_org_count_current     0.006432
9                            regional_mobility     0.004794
57                       latest_one_month_loan     0.003599
27            cross_consume_count_last_1_month     0.003197
81                                        一线城市     0.001596
82                                        三线城市     0.001508
83                                        二线城市     0.000785
34         railway_consume_count_last_12_month     0.000762
85                                          境外     0.000703
37          jewelry_consume_count_last_6_month     0.000229
11                                is_high_user     0.000229
84                                        其他城市     0.000012

[86 rows x 2 columns]

# 计算相关系数筛选变量

In [122]:
data_x.shape

(4754, 86)

In [123]:
data_y.shape

(4754, 1)

In [126]:
data_total=pd.merge(data_x,data_y,left_index=True, right_index=True)

In [127]:
data_total.shape

(4754, 87)

In [135]:
df_corr=pd.DataFrame(abs(data_total.corrwith(data_total['status'])),columns=['corr'])

In [136]:
df_corr.sort_values(by='corr',ascending=False)

                                             corr
status                                   1.000000
trans_fail_top_count_enum_last_1_month   0.333339
history_fail_fee                         0.306273
loans_overdue_count                      0.266961
latest_one_month_fail                    0.248837
loans_score                              0.245092
apply_score                              0.232480
rank_trad_1_month                        0.146643
trans_fail_top_count_enum_last_6_month   0.134436
latest_one_month_suc                     0.131443
trans_fail_top_count_enum_last_12_month  0.118328
top_trans_count_last_1_month             0.117299
consfin_avg_limit                        0.081569
trans_day_last_12_month                  0.078974
consfin_credit_limit                     0.076057
avg_price_top_last_12_valid_month        0.071259
trans_top_time_last_1_month              0.067794
consume_top_time_last_1_month            0.065610
consfin_max_limit                        0.061551
latest_six_month_loan                    0.060227
query_last_days                          0.057693
latest_query_day                         0.057419
query_cash_count                         0.053036
low_volume_percent                       0.051911
latest_three_month_loan                  0.051411
avg_price_last_12_month                  0.051126
loans_count                              0.046979
max_cumulative_consume_later_1_month     0.045376
number_of_trans_from_2011                0.044843
first_transaction_day                    0.041636
...                                           ...
consfin_credibility                      0.022937
query_sum_count                          0.022743
loans_settle_count                       0.021536
trans_top_time_last_6_month              0.020901
query_org_count                          0.020757
consume_mini_time_last_1_month           0.020591
trans_activity_day                       0.020428
境外                                       0.020422
二线城市                                     0.020373
max_consume_count_later_6_month          0.017575
latest_three_month_apply                 0.017162
trans_days_interval                      0.017119
cross_consume_count_last_1_month         0.017008
trans_activity_month                     0.016706
其他城市                                     0.016670
loans_long_time                          0.016285
loans_credibility_limit                  0.015244
abs                                      0.012611
repayment_capability                     0.012323
loans_avg_limit                          0.011481
一线城市                                     0.010195
trans_amount_increase_rate_lately        0.009364
三线城市                                     0.009304
trans_days_interval_filter               0.006185
jewelry_consume_count_last_6_month       0.004971
latest_six_month_apply                   0.004152
query_finance_count                      0.003676
loans_credibility_behavior               0.002495
take_amount_in_later_12_month_highest    0.001626
transd_mcc                               0.000137

[87 rows x 1 columns]

In [38]:
def woe_single_x(x,y,event=1):
    event_total=sum(y==event)
    non_event_total=y.shape[-1]-event_total
    #初始化变量
    iv=0
    woe_dict={}
    for i in set(x):
        #i是一个变量x的每一个取值
        #y1代表了
        y1=y.reindex(np.where(x==i)[0])
        
        event_count=sum(y1==event)
        
        non_event_count=y1.shape[-1]-event_count
        
        rate_event=event_count/event_total
        
        rate_non_event=non_event_count/non_event_total
        
        if rate_event==0:
            rate_event=0.0001
        elif rate_non_event==0:
            rate_non_event=0.0001
        
        woei=math.log(rate_event/rate_non_event)
        
        woe_dict[i]=woei
        
        iv+=(rate_event-rate_non_event)*woei
    
    return iv

In [39]:
lst=[]
for j in data.columns:
    iv_i=woe_single_x(data[j],data_y.status,event=1)
    lst.append(iv_i)
iv_df=pd.DataFrame(lst,index=data.columns,columns=['iv'])
iv_df.sort_values(by='iv',ascending=False)

NameError: name 'math' is not defined